/* Navbar */

#logo {
	width: 160px;
}

.nav a {
	font-family: roboto-bold;
	color: #60259c;
	font-size: 13px;
  	padding: 14px 16px;
  	text-transform: uppercase;
	text-decoration: none;
}

.nav li {
  	display: inline;
}

.nav {
	height: 100px;
	background-color: #fcc326;
}

.nav a:hover {
	color: #ffffff;
}

.arrow {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fcc326;
	margin-left: 745px;
	margin-top: 100px;
	position: absolute;
	z-index: 1;
}

.page-image {
	background-image: url('HeadImage/PriceImage.jpg');
	background-repeat: no-repeat;
    background-size: cover;
	height: 360px;
}

.page-overlay {
	background: rgba(0, 0, 0, 0.3);
	height: 360px;
	width: 950px;
	margin: auto 0;
}

.page-head {
	height: 300px;
}

/* Footer */

.footer {
	height: 120px;
	background-color: #333333;
}

.footer li {
  	display: inline;
}

.footer a {
	margin-left: 20px;
}

p.footer-text {
	font-family: roboto-bold;
	color: #ffffff;
	font-size: 12px;
  	padding: 14px 16px;
  	margin-top: 30px;
}

li.footer-text {
	font-family: roboto-bold;
	color: #ffffff;
	font-size: 12px;
  	padding: 14px 16px;
}

.social-media {
	display: inline;
	width: 30px;
}

ul.pull-right {
	padding: 36px 0px;
}

/* Fonts */

h1 {
	font-family: ttrounds-black;
	font-size: 72px;
	color: #ffffff;
	text-transform: uppercase;
}

h2 {
	font-family: ttrounds-black;
	font-size: 56px;
	color: #60259c;
	text-transform: uppercase;
}

h3 {
	font-family: ttrounds-black;
	font-size: 38px;
	color: #60259c;
	text-transform: uppercase;
}

h5 {
	font-family: ttrounds-black;
	font-size: 26px;
	color: #60259c;
	text-transform: uppercase;
	text-align: left;
	margin-left: 30px;
}

h6 {
	font-family: ttrounds-black;
	font-size: 22px;
	color: #60259c;
	text-transform: uppercase;
	text-align: left;
	margin-left: 30px;
}

p {
	font-family: roboto-regular;
	font-size: 14px;
}

/* Content */

.container {
	width: 950px;
}

.head-desc {
	background-color: #e8dff0;
	height: 150px;
	padding: 40px 60px;
}

.purple {
	color: #60259c;
}

.service {
	background-color: #fcc326;
	height: 40px;
}

.button {
	width: 140px;
	height: 40px;
	background-color: #fcc326;
	border-radius: 10px;
	padding: 10px 0px 0px 0px;
}

.button:hover {
	background-color: #00bed4;
	color: #ffffff;
}

a.book-now {
	font-family: ttrounds-black;
	font-size: 16px;
	color: #60259c;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	width: 100px;
}

.inside {
	padding-left: 44px;
}

.row-center {
	text-align: center;
}

.yellow-line {
	border-top: 1px solid #fcc326;
	height: 20px;
	margin-top: 20px;
}

.package {
	color: #a17ec4;
}

.bottom-space {
	height: 40px;
}