/* Navbar */

#logo {
	width: 160px;
}

.nav a {
	font-family: roboto-bold;
	color: #60259c;
	font-size: 13px;
  	padding: 14px 16px;
  	text-transform: uppercase;
	text-decoration: none;
}

.nav li {
  	display: inline;
}

.nav {
	height: 100px;
	background-color: #fcc326;
}

.nav a:hover {
	color: #ffffff;
}

.arrow {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fcc326;
	margin: auto;
	margin-right: 238px;
	margin-top: -2px;
}

.page-image {
	background-image: url('HeadImage/ServiceImage.jpg');
	background-repeat: no-repeat;
    background-size: cover;
	height: 360px;
}

.page-overlay {
	background: rgba(0, 0, 0, 0.3);
	height: 360px;
	width: 950px;
	margin: auto 0;
}

.page-head {
	height: 300px;
}

/* Footer */

.footer {
	height: 120px;
	background-color: #333333;
}

.footer li {
  	display: inline;
}

.footer a {
	margin-left: 20px;
}

p.footer-text {
	font-family: roboto-bold;
	color: #ffffff;
	font-size: 12px;
  	padding: 14px 16px;
  	margin-top: 30px;
}

li.footer-text {
	font-family: roboto-bold;
	color: #ffffff;
	font-size: 12px;
  	padding: 14px 16px;
}

.social-media {
	display: inline;
	width: 30px;
}


ul.pull-right {
	padding: 36px 0px;
}

/* Fonts */

h1 {
	font-family: ttrounds-black;
	font-size: 72px;
	color: #ffffff;
	text-transform: uppercase;
}

h2 {
	font-family: ttrounds-black;
	font-size: 56px;
	color: #60259c;
	text-transform: uppercase;
}

h3 {
	font-family: ttrounds-black;
	font-size: 38px;
	color: #60259c;
	text-transform: uppercase;
}

h6 {
	font-family: ttrounds-black;
	font-size: 20px;
	color: #60259c;
	text-transform: uppercase;
	text-align: left;
	margin-left: 30px;
}

p {
	font-family: roboto-regular;
	font-size: 14px;
	text-align: left;
}

/* Content */

<<<<<<< HEAD
=======
body {
	background-color: #f7f7f7;
}

>>>>>>> master
.container {
	width: 950px;
}

<<<<<<< HEAD
=======
.container.in-body {
	width: 950px;
	background-color: white;
	box-shadow: 0 -6px #fcc326, 0 6px white, -10px 0 6px -4px #e0e0e0, 10px 0 6px -4px #e0e0e0;
}

.row-center {
	padding-left: 50px;
	padding-right: 50px;
}

>>>>>>> master
.head-desc {
	background-color: #e8dff0;
	height: 150px;
	padding: 40px 60px;
}

.purple {
	color: #60259c;
}

.yellow-line {
	border-bottom: 1px solid #fcc326;
	padding: 0px 20px;
}

.row-center {
	text-align: center;
}

.col-md-4 {
	padding: 30px 10px;
}

.icon {
	float: left;
	width: 35px;
	vertical-align: middle;
}

.button {
	width: 140px;
	height: 40px;
	background-color: #fcc326;
	border-radius: 10px;
	padding: 10px 0px 0px 0px;
}

.button:hover {
	background-color: #00bed4;
	color: #ffffff;
}

a.book-now {
	font-family: ttrounds-black;
	font-size: 16px;
	color: #60259c;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

.text {
<<<<<<< HEAD
	height: 280px;
=======
	height: 300px;
>>>>>>> master
}

.bottom-space {
	height: 10px;
}

.top-space {
	height: 10px;
}