<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="{% static "fonts/Font.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "tutors/css/Tutors.css" %}"/>

    <title>Our Tutors</title>

    <style type="text/css">
        {% block style %}
            {% for tutor in tutors_list %}
                .box{{ tutor.id }} {
                    background-image: url('../../static/profiles/{{ tutor.id }}/{{ tutor.id }}.jpg');
                }
            {% endfor %}
        {% endblock %}
    </style>

</head>

<body>

<!-- Navbar -->

<div class="nav">
    <div class="container">
        <div class="pull-left">
            <a href="http://www.premiertutorsgroup.com/">
                <img src="{% static "assets/Logo.png" %}" alt="Logo" id="logo"/>
            </a>
        </div>
        <ul class="pull-right">
            <li><a href="http://www.premiertutorsgroup.com/about-us">About Us</a></li>
            <li><a href="http://www.premiertutorsgroup.com/our-tutors">Our Tutors</a></li>
            <li><a href="http://www.premiertutorsgroup.com/our-services">Our Services</a></li>
            <li><a href="http://www.premiertutorsgroup.com/prices">Prices</a></li>
            <li><a href="http://www.premiertutorsgroup.com/events">Events</a></li>
            <li><a href="http://www.premiertutorsgroup.com/contact-us">Contact Us</a></li>
        </ul>
        <div class="pull-right arrow"></div>
    </div>
</div>

<!-- Header -->

<div class="our-tutors">

    <div class="container">

        <div class="row page-image">
            <div class="col-md-12 page-head">
                <center><h1>Our Tutors</h1></center>
            </div>
        </div>

        <!-- Header Description -->

        <div class="row head-desc">
            <div class="col-md-12">
                <p class="purple">Aces que nobitet et porae ent vitatin nullore non culluptas dolores delentia derat
                    vollibus alit laccab in provita
                    spissitiorro et ad esti dolupta turepta sperum et lam, cusdaniet optam quo omnihici oditati sit
                    audantium undia
                    ex et quid expe dignim apidel is am, que eicab idi solupta consequibus ea ni del es sam ra sit
                    explis acidel iminis
                    nistiam rectet eos audigen temqui anis eiciis et a quametu sdantiusci optisqui berrovid molo
                    blaborum.</p>
            </div>
        </div>

        <!-- Tutors -->

        <br/>

        <div class="row row-center">
            {% for tutor in tutors_list %}
                <a href="{{ tutor.id }}"><div class="col-xs-4 col-centered col-fixed profile">
                    <div class="box box{{ tutor.id }}">
                        <div class="wrapper reveal-partial"></div>
                        <div class="info reveal-full">
                            <h2>{{ tutor.first_name.upper }} {{ tutor.last_name.upper }}</h2></br>
                            <p class="text-center"> {% for subject in tutor.tutorsubject_set.all %}
                                {{ subject }}<br/>
                            {% endfor %}
                            </p>
                        </div>
                    </div>
                </div></a>
            {% endfor %}
        </div>

        <br/>

    </div>

</div>

<!-- Footer -->

<div class="footer">
    <div class="container">
        <div class="pull-left">
            <p class="footer-text">Copyright &#169; Premier Tutors Group 2015</p>
        </div>
        <ul class="pull-right">
            <li class="footer-text">Follow us</li>
            <li><a href="https://www.facebook.com/premiertutorsgroup?fref=ts"><img
                    src="{% static "assets/Facebook.png" %}" alt="Facebook" class="social-media"/></a></li>
            <li><a href="http://www.twitter.com"><img src="{% static "assets/Twitter.png" %}" alt="Twitter"
                                                      class="social-media"/></a></li>
            <li><a href="http://www.instagram.com"><img src="{% static "assets/Instagram.png" %}" alt="Instagram"
                                                        class="social-media"/></a></li>
        </ul>
    </div>
</div>

</body>

</html>
