<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="{% static "fonts/Font.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "tutors/css/Profile.css" %}" />

    <title>Premier Tutors Group</title>

</head>

<body>

<!-- Navbar -->

<div class="nav">
    <div class="container">
        <div class="pull-left">
            <a href="http://www.premiertutorsgroup.com/">
                <img src="{% static "assets/Logo.png" %}" alt="Logo" id="logo" />
            </a>
        </div>
        <ul class="pull-right">
            <li><a href="http://www.premiertutorsgroup.com/about-us">About Us</a></li>
            <li><a href="http://www.premiertutorsgroup.com/our-tutors">Our Tutors</a></li>
            <li><a href="http://www.premiertutorsgroup.com/our-services">Our Services</a></li>
            <li><a href="http://www.premiertutorsgroup.com/prices">Prices</a></li>
            <li><a href="http://www.premiertutorsgroup.com/events">Events</a></li>
            <li><a href="http://www.premiertutorsgroup.com/contact-us">Contact Us</a></li>
        </ul>
        <div class="pull-right"><div class="arrow"></div></div>
    </div>
</div>

<!-- Profile -->
<div class="row row-center">
    <div class="col-md-5 left">
        <img src='../../static/profiles/{{ tutor.id }}/{{ tutor.id }}.jpg' class="tutor" />
    </div>
    <div class="col-md-4 right">
        <div class="title">
            <h3>{{ tutor.first_name }}</h3>
            <h6>{{ tutor.degree }}</h6>
        </div>
        <div class="info">
            <ul>
                <li>
                    Position: {{ tutor_subjects }}
                </li>
                <li>
                    Age: {{ age }}
                </li>
                <li>
                    University: {{ tutor.university }}
                </li>
                <li>
                    Status of Study: {{ tutor.status_of_study }}
                </li>
                <li>
                    Interests: {{ tutor.interests }}
                </li><br/>
                <li>
                    Availability: {{ tutor.availability }}
                </li><br/>
                <li>
                    {{ tutor.desc }}
                </li>
            </ul>
            <div class="book-now-button">
                <h3>BOOK NOW</h3>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->

<div class="footer">
    <div class="container">
        <div class="pull-left">
            <p class="footer-text">Copyright &#169; Premier Tutors Group 2015</p>
        </div>
        <ul class="pull-right">
            <li class="footer-text">Follow us</li>
            <li><a href="https://www.facebook.com/premiertutorsgroup?fref=ts"><img src="{% static "assets/Facebook.png" %}" alt="Facebook" class="social-media" /></a></li>
            <li><a href="http://www.twitter.com"><img src="{% static "assets/Twitter.png" %}" alt="Twitter" class="social-media" /></a></li>
            <li><a href="http://www.instagram.com"><img src="{% static "assets/Instagram.png" %}" alt="Instagram" class="social-media" /></a></li>
        </ul>
    </div>
</div>

</body>

</html>
