/* Navbar */

#logo {
	width: 160px;
}

.nav a {
	font-family: roboto-bold;
	color: #60259c;
	font-size: 12px;
	padding: 14px 16px;
	text-transform: uppercase;
	text-decoration: none;
}

.nav li {
	display: inline;
}

.nav {
	height: 120px;
	background-color: #fcc326;
	margin-bottom: 5%;
}

.nav a:hover {
	color: #ffffff;
}

.arrow {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fcc326;
	margin: auto;
	margin-right: 520px;
	margin-top: 18px;
}

.page-image {
	background-image: url('../../../static/tutors/assets/AboutImage.jpg');
	height: 360px;
}

.page-head {
	height: 300px;
}

/* Footer */

.footer {
	height: 120px;
	background-color: #333333;
    margin-top: 4%;
}

.footer li {
	display: inline;
}

.footer a {
	margin-left: 20px;
}

p.footer-text {
	font-family: roboto-bold;
	color: #ffffff;
	font-size: 12px;
	padding: 14px 16px;
	margin-top: 30px;
}

li.footer-text {
	font-family: roboto-bold;
	color: #ffffff;
	font-size: 12px;
	padding: 14px 16px;
}

.social-media {
	width: 30px;
}

ul.pull-right {
	padding: 36px 0px;
}

/* Fonts */

h1 {
	font-family: ttrounds-black;
	font-size: 72px;
	color: #ffffff;
	text-transform: uppercase;
}

h2 {
	font-family: ttrounds-black;
	font-size: 56px;
	color: #60259c;
	text-transform: uppercase;
}

h3 {
	font-family: ttrounds-black;
	font-size: 38px;
	color: #60259c;
	text-transform: uppercase;
}

h5 {
	font-family: roboto-bold;
	font-size: 24px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 90px;
	text-decoration: none;
}

h6 {
	font-family: roboto-regular, Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}

p {
	font-family: roboto-regular, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
}

/* Content */

.head-desc {
	background-color: #e8dff0;
	height: 150px;
	padding: 40px 60px;
}

.purple {
	color: #60259c;
}

.tutor {
	width: 300px;
	height: 300px;
}

.row {
    margin-top: 6%;
}

.title {
    background-color: #fcc326;
    padding: 20px 30px 20px 30px;
}

.title h3 {
    color: #60259c;
}

.title h6 {
    color: #60259c;
    text-align: left;
    font-weight: bold;
}

.info {
    padding: 5% 0;
	font-family: roboto-regular, Arial, sans-serif;
}

.info ul {
    list-style-type: none;
}

.book-now-button {
	background-color: #60259c;
	padding: 15px 30px;
	display: inline-block;
	border-radius: 10px;
	margin-top: 5%;
	margin-left: 8%;
}

.book-now-button h3 {
	color: #fcc326;
	font-size: 30px;
	margin: 0;
}

.prev-tutor p {
}

.next-tutor p {
	text-align: right;
}

.back-to-list p {
	text-align: center;
}